<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KCRecorder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>882B4FAC1F56533B0097F20D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>882B4FC51F56533B0097F20D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>882B4FD01F56533C0097F20D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
